* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

nav .hamburgerMenu {
    display: none;
    font-size: 20pt;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: fantasy;
    padding-top: 3.5rem;
    font-size: 14pt;
}

.dropButton {
    font-size: 20pt;
    margin-top: -6px;
}

nav ul li a:hover,
.hamburgerMenu:hover .dropButton {
    color: #fff;
    animation: none;
    background-color: #0000008f;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #0000008f;
    width: 7rem;
    height: 11rem;
    margin-left: 0;
    margin-top: 1px;
}

.dropDownContent a {
    color: #fff;
    padding: 16px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDownContent a:hover {
    background-color: #f1f1f1;
    color: #000;
}

.hamburgerMenu:hover .dropDownContent {
    display: block;
}


nav {
    display: flex;
    background-color: #000000be;
    height: 7vh;
    align-items: center;
    padding-left: 15vw;
    width: 100vw;
    margin: 0;
    position: fixed;
    z-index: 2;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 14px 18px;
    font-family: fantasy;
    color: white;
    font-size: 1rem;
    text-align: center;
}

@keyframes fade {
    from {
        background-color: white;
        color: #000;
    }

    to {
        background-color: #000;
        color: white;
    }
}

nav a:hover {
    color: #000;
    background-color: white;
    border-radius: 20px;
    animation: fade 3s infinite;
}

#active {
    color: #000;
    background-color: white;
    border-radius: 20px;
}

/* nav div  */
img[alt="myIcon"] {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-bottom: 11px;
    right: 17%;
    position: absolute;
}

nav div .myName {

    font-size: 22px;
    font-family: fantasy;
    padding: 19px;
    margin-top: -13px;
    color: white;
    text-shadow: 10px #ccc;
}

nav div {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 42vw;
}

/* .container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(4);
} */

.headContent {
    background-image: url('../Gallery/headerPicture.jpg');
    background-color: #ccc;
    height: 38vh;
    width: 100vw;
    text-align: center;
    padding-top: 14vh;
}

.headContent h1 {
    font-size: 36pt;
    font-family: Workbench;
    color: #fff;
}

.headContent p {
    margin: 0 auto;
    width: 24rem;
    font-size: 22pt;
    line-height: 1.5;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(2);
}

.icons {

    margin: 0 auto;
    display: flex;
    width: 20vw;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid #000; */
    box-shadow: 0.2rem 0.5rem 1rem 0.3rem #b4497f;
}

/* ***About Me Style*** */
.sectionContent {
    margin: 0 auto;
    height: 32vh;
    width: 100vw;
    text-align: center;
    padding-top: 8vh;
}

.sectionContent h2 {
    font-family: fantasy;
    font-size: 20pt;
}


ul {
    /* background-color: #ccc; */
    width: 45vw;
    line-height: 1.5;
    list-style-type: none;
    margin: 0 auto;
    height: 15vh;
    justify-content: space-evenly;
    display: flex;

}

/* section .sectionContent */
section img[src="./Gallery/DavidIcon.jpg"] {
    border-radius: 50%;
    width: 3rem;

}

.btn {
    background-color: #FFCF00;
    padding: 4px 15px;
    font-size: 13pt;
    border-radius: 3rem;
    cursor: pointer;
}


ul li p {
    display: flex;
    font-size: 18pt;
}

ul li span {
    display: flex;
    font-size: 18pt;
    justify-content: center;
}


/* to acsses the age guesser make the following lines as a note or try to catch it before its fading away */
/* ul li button:hover {
    display: none;
} */
.phoneAbout {
    font-size: 18pt;
    font-family: cursive;
    margin-top: 3rem;
    font-weight: 600;
    display: none;
}

p[title="about me"] {
    margin: 0 auto;
    line-height: 1.5;
    width: 50%;
    font-size: 14pt;
}

section a[href="#CV"] {
    display: block;
    width: 11em;
    height: 2em;
    border-radius: 25px;
    background-color: #f10e5ac9;
    margin: 0 auto;
    padding-top: 0.2em;
    margin-top: 5vh;
    text-decoration: none;
    font-family: cursive;
    color: #000;
}

section a[href="#CV"]:hover {
    background-color: #ccc;
    color: #000;
    animation: fade 3s infinite;

}

/* This Is The Projects Gallery CSS */
.projects {
    background-image: url('../Gallery/Projects-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
    width: 100vw;
    height: 90rem;
    margin-top: 25em;
    padding-top: 8em;
    box-shadow: 0px 0px 25px 0px #aac729;
    overflow-x: hidden;
}

.projects h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: 800;
    text-shadow: 5px 6px 3px #000;
    color: white;
}

.projects p {
    text-align: center;
    font-size: 19pt;
    line-height: 3;
    font-family: cursive;
    text-shadow: 2px 3px 1px #fff;
    font-weight: 700;
}

section a[href="./Html/projectOne.html"],
a[href="./Html/projectTwo.html"],
a[href="./Html/projectThree.html"],
a[href="./Html/projectFour.html"],
a[href="./Html/projectFive.html"] {
    width: 60vw;
    height: 50vh;
    padding-top: -2rem;
    color: #fff;
    text-decoration: none;
}

section a span {
    font-family: arial black;
    background-image:
        linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 35s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 400vh;
    }
}


.projectsGallery {
    width: 70vw;
    /* height: 80rem; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 30px;
    padding-top: 10rem;
    row-gap: 16.5em;

}

.project {
    width: 18vw;
    font-size: 2rem;
    text-align: center;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    border-radius: 25px;
    margin: 0 auto;
    overflow: hidden;
}

.project:hover {
    box-shadow: 5px 6px 7px 0px #080607;
}

.ProjectOne {
    background-image: url(../Gallery/ProjectOne.png);
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px #fff;
    font-weight: 800;
}

.projectTwo {
    background-image: url(../Gallery/Coffee.png);
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px bisque;
    font-weight: 800;
}

.projectThree {
    background-image: url(../Gallery/Image1.png);
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 1px rgba(255, 204, 0, 0.87);
    font-weight: 800;
}

.projectFour {
    background-image: url(../Gallery/projectFour.png);
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px #fff;
    font-weight: 800;
}

.projectFive {
    background-image: url(../Gallery/ProjectFive.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0px 1px 1px #fd0000de;
    font-weight: 800;
}

.projectSix {
    background-image: url(../Gallery/CodingBCK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 5px 6px 3px #000000;
    font-weight: 800;
}

.contactSection {
    margin-top: 10rem;
    width: 100vw;
    height: 90vh;
    background-color: #3A3A3A;
    text-align: right;
    padding-right: 1rem;
}

.contactSection img {
    float: left;
    width: 40vw;
}

.contactSection h1 {
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 4rem;
    text-shadow: 2px 3px 2px #fff;
}

.contactSection p {
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 2px 3px 2px #fff;
}

.contactSection span {
    text-align: left;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.2rem;
}


.contactSection form[action="contactInfo"] {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 2rem);
    width: 25vw;
    height: 20vh;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
}

.contactSection input {
    height: 4rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -1.2rem;

}

.contactSection input[type="submit"] {
    width: 7rem;
    height: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%);
    position: relative;
    padding: 3px;
    display: inline-block;
    border-radius: 7px;

    animation: spin 4s ease-in-out infinite;
}

input:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%);
    opacity: 0.8;
}

input[type="submit"] {
    cursor: pointer;
}



@keyframes spin {

    to {
        transform: rotate(5deg);
    }
}


/* :root {
    --bg-color: #151320;
    --conic-gradient: conic-gradient(#ff2e2e,
            #ff831e,
            #fcff51,
            #58ff57,
            #575fff,
            #D257FF,
            #FF57E5,
            #FF1556);
}

section a[href="#CV"]::before {
    content: "";
    position: absolute;
    width: 11rem;
    height: 9em;
    background: var(--conic-gradient);
}

section a[href="#CV"]::after {
    content: "Hover Me!";
    position: absolute;
    background: var(--bg-color);
    width: 13rem;
    height: 11rem;
    border-radius: .4em;

    font-size: 2rem;
    color: white;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

section a[href="#CV"]:hover {
    transform: scale(1.1);
}

section a[href="#CV"]:hover::before {
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
} */






.contactSection textarea {
    height: 7rem;
    margin-top: -1.2rem;
    font-size: 1rem;
    font-family: cursive;
    padding: 2px;
}

/* footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
}

footer img {
    width: 2rem;
} */

footer div {
    background-color: #3A3A3A;
    margin-top: -4rem;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 15px;
    border-bottom: 2px solid #ff0095;
}

footer div small {
    font-size: 1rem;
    font-weight: bold;
    color: #b4497f;
    padding-right: 0.8rem;

}

.social-icons {
    display: block;
    position: relative;
    bottom: 80px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f10e5aa6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    position: fixed;

    img {
        display: block;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.instagram {
    position: fixed;
    margin-bottom: 5rem;
}

.linkedin {
    position: fixed;
    margin-bottom: 10rem;
}

.call {
    position: fixed;
    margin-bottom: 15rem;
}