@media (max-width: 350px) {
    .dropButton {
        font-size: 16pt;
        margin-top: -9px;
    }

    img[alt="myIcon"] {
        width: 35px;
    }

    .contactSection {
        height: 110vh;

        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
    }


    .social-icons {
        margin-left: 5rem;
        bottom: 90px;
    }

    footer div {
        padding-top: 7rem;
        align-items: flex-end;
    }
}

@media (max-width: 386px) {
    body {
        overflow-x: hidden;
    }

    /*   .social-icons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .social-icons {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #f10e5aa6 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        margin: 0 10px;
    }

    .social-icons img {
        width: 50%;
        display: block;
        margin: auto;
    } */


    nav {
        width: 100vw;
    }

    .headContent p {
        font-size: 20pt;
        width: 90vw;
    }

    img[alt="myIcon"] {
        width: 28px;
        height: 28px;

    }


    .icons {
        overflow-x: scroll;


    }

    .icons img {
        width: 75px;
    }

    .contactSection {
        height: 130vh;

        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
    }


    .dropButton {
        font-size: 16pt;
        margin-top: -22px;
    }


    footer div {
        height: 16vh;
        padding-top: 5rem;
    }

    .social-icons {
        width: 25px;
        height: 25px;
        margin-left: 1rem;
    }

    .social-icons img {


        margin: 17px;
    }




}













/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {




    nav {
        padding-left: 1px;
    }

    nav a {
        display: none;
    }

    nav .myName {
        display: none;
    }

    nav .hamburgerMenu {
        display: block;
    }

    section ul {
        display: none;
    }

    .icons {
        overflow-x: scroll;
        padding-left: 2rem;
    }

    .phoneAbout {
        display: block;
    }

    .projects {
        height: 220rem;
        ;
    }

    .project {
        width: 60vw;
    }

    .projectsGallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6);
        gap: 20px;
    }

    .projectTwo {
        margin-top: 15rem;
    }

    .projectThree {
        margin-top: 31rem;
    }

    .social-icons {
        margin-left: 1rem;
    }

    .linkedin {
        margin-right: 10rem;
    }

    .instagram {
        margin-left: 3rem;
    }


}

footer img,
footer span {
    display: none;
}

/* .social-icons {
    display: block;
    position: relative;
    bottom: 80px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #b880e6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    img {
        display: block;
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
} */

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {




    .social-icons-container {
        display: flex;
        /* flex-direction: column; */
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        padding-left: 1rem;
    }

    .social-icons {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #ff0055 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        margin: 0;
        bottom: 2rem;
        margin-left: 3rem;
    }

    .instagram {
        margin-left: 8rem;
    }

    .linkedin {
        margin-left: 13rem;
    }

    .call {
        margin-left: 18rem;
    }

    .social-icons img {
        width: 50%;
        display: block;
        margin: 14px;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        padding-left: 1px;
    }

    nav a {
        display: none;
    }

    nav .myName {
        display: none;
    }

    nav .hamburgerMenu {
        display: block;
    }

    section ul {
        display: none;
    }

    .icons {
        width: 100vw;
        box-shadow: 0.5rem 0.5rem 2rem 0.5rem #b4497f;
    }

    .phoneAbout {
        display: block;
    }

    .projects {
        height: 220rem;
        ;
    }


    .project a {
        width: 60vw;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .projectsGallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6);
        gap: 20px;
    }

    .projectTwo {
        margin-top: 15rem;
    }

    .projectThree {
        margin-top: 31rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}