body {
    overflow-x: hidden;
}

.allProjectsContainer {
    width: 70vw;

    margin: 0 auto;
    margin-top: 7rem;
    box-shadow: 0px 0px 40px #000;
}

.allProjectsContainer img {
    width: 70vw;

}

footer {
    margin-top: 10rem;
}

footer div {
    padding-top: 8px;
    height: 30px;
    margin-top: 10rem;
}

.headLinks {
    width: 83vw;
    height: 5.5vh;
    display: flex;
    margin: 0 auto;
}

.headContent .headLinks a {
    display: block;
    text-decoration: none;
    background-color: bisque;
    width: 12rem;
    margin: 0 auto;
    padding: 6px 8px;
    font-family: cursive;
    margin-top: 1rem;
    color: #000;
    font-weight: 600;

}


.headLinks a {
    background:
        linear-gradient(to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.headLinks a:hover {
    background-size: 0 3px, 100% 3px;
}

@media (max-width: 380px) {
    .headContent .headLinks a {
        font-size: 0.7rem;
        padding: 4px 6px;
    }

    .headContent {
        height: 45vh;
        background-position: center;
    }

    footer div {
        margin-top: 0;
        height: 0;
    }
}

@media (max-width: 470px) {
    footer div {
        margin-top: 4rem;
        height: 2rem;
        padding-top: 8px;
    }
}