body {
    overflow-x: hidden;
}

.allProjectsContainer {
    width: 70vw;

    margin: 0 auto;
    margin-top: 7rem;
    box-shadow: 0px 0px 40px #000;
}

.allProjectsContainer img {
    width: 70vw;

}

footer {
    margin-top: 10rem;
}