@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.image-box {
    width: 50%;
    height: 100%;

    .border-top {
        width: 50%;
        height: 15px;
        background-color: #FDBD03;
    }

    img {
        width: 100%;
        height: 80%;
        margin: 80px auto;
        object-fit: contain;
    }
}

.content-box {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;


    .title-box {
        text-align: right;

        h1 {
            margin-bottom: 40px;
            font: normal normal 900 66px/97px Heebo;
            color: #FDBD03;
        }

        p {
            margin-bottom: 20px;
            text-align: right;
            font: normal normal normal 20px/29px Heebo;
            color: #020253;
        }
    }

    .form-box {
        width: 80%;

        form {
            display: flex;
            flex-wrap: wrap;

            .filed-box {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                input,
                .textarea {
                    text-align: right;
                    width: 90%;
                    border: none;
                    height: 40px;
                    background: #E5EEFF 0% 0% no-repeat padding-box;
                    border-bottom: 4px solid #FDBD03;
                }

                .textarea {
                    width: 190%;
                    height: 170px;
                }

                input[type="submit"] {
                    text-align: center;
                    width: 40%;
                    margin-top: 20px;
                    border: none;
                    background-color: #FDBD03;
                    font: normal normal bold 22px/30px Heebo;
                }
            }
        }
    }

    .border-bottom {
        width: 50%;
        height: 15px;
        background-color: #FDBD03;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}



.social-icons {
    position: relative;
    bottom: 80px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #FDBD03 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    img {
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.whatsapp {
    position: absolute;
    top: 50px;
    left: 50px;
}

@media(max-width:767px) {
    .container {
        flex-direction: column;
    }

    .image-box {
        width: 100vw;
        height: 30vh;

        .border-top {
            width: 90%;
        }

        img {
            height: 70%;
            margin: 20px auto;
        }
    }

    .whatsapp {
        left: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
    }

    .content-box {
        flex-direction: column;
        width: 100vw;
        height: 70vh;

        .form-box {
            h1 {
                margin-bottom: 10px;
                font-size: 12vw;
            }

            .title-box {
                text-align: center;

                p {
                    margin-bottom: 0;
                }
            }

            form {
                width: 100%;
                flex-direction: column;

                .filed-box {

                    margin-top: 10px;

                    input {
                        width: 190%;
                    }

                    input[type="submit"] {
                        width: 190%;
                    }

                    .textarea {
                        height: 50px;
                    }
                }
            }
        }

        .border-bottom {
            width: 100%;

            .social-icons {
                left: 0;
                bottom: 40px;
                width: 60px;
                height: 60px;
            }
        }
    }
}

@media(max-width:370px) {
    .border-bottom{
        .social-icons {
                width: 10px;
                height: 10px;
            }
    }
    .image-box {
        height: 20vh;
    }

    .content-box .form-box {
        

        h1 {
            margin: 0;
            font-size: 14vw;
        }

        p {
            margin: 0;
            font-size: 1em;
        }
    }

}