@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
section {
  background: transparent linear-gradient(180deg, #281EFF 0%, #2DFF8C 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 40px #000;
  opacity: 1;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  margin-top: 8rem;
  color: white;
  padding-top: 4.2rem;
  line-height: 1;
  border-radius: 25px;
}

section h1 {
  font: normal normal normal 160px/231px Satisfy;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-shadow: 0px 0px 36px rgba(0, 0, 0, 0.5294117647);
  opacity: 1;
  /*     font-size: 30pt;
  font-family: cursive;
  font-weight: 800;
  text-shadow: 5px 6px 3px #000; */
}

section p {
  font-size: 20pt;
  font-family: monospace;
  font-weight: 700;
  text-shadow: 2px 3px 1px #000;
}

body {
  max-width: 98vw;
  overflow-x: hidden;
}

section span {
  font-size: 16pt;
  line-height: 2;
  font-weight: 600;
  font-family: monospace;
}

section a[href="../Html/projectOne.html"] {
  background-color: wheat;
  width: 20vw;
  height: 30vh;
}

.projectsFooter {
  width: 100vw;
  height: 250px;
  margin-top: 2rem;
  background-color: #fff;
  padding-top: 10rem;
}

section input {
  background: rgba(246, 246, 246, 0.1411764706) 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  opacity: 1;
  width: 25vw;
  height: 1.8rem;
  display: flex;
  justify-content: start;
}

section input[type=submit] {
  width: 7rem;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  padding-right: 2rem;
  margin-top: 2rem;
}

form label[for=name] {
  /*     font-family: cursive;
  font-size: 18pt;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  /*    background-image: linear-gradient(to right, cyan, blue, green, red, aqua, brown);
  background-clip: text;
  color: transparent; */
  font-weight: 800;
  text-align: center;
  font: normal normal normal 16px/20px Varela Round;
  letter-spacing: 0px;
  color: #F9F9F9;
  opacity: 1;
}

form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.here-and-now {
  width: 24vw;
  margin: 0 auto;
}

@media (max-width: 630px) {
  body {
    overflow-x: hidden;
  }
  section {
    padding-top: 9rem;
  }
  section h1 {
    text-align: center;
    font: normal normal normal 60px/86px Satisfy;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 0px 36px rgba(0, 0, 0, 0.5294117647);
    opacity: 1;
  }
  .here-and-now {
    width: 60vw;
  }
  form input {
    width: 60vw;
  }
  section input[type=submit] {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 60vw;
    border-radius: 0%;
    padding-right: 6.2rem;
  }
}
body {
  overflow-x: hidden;
}

.allProjectsContainer {
  width: 70vw;
  margin: 0 auto;
  margin-top: 7rem;
  box-shadow: 0px 0px 40px #000;
}

.allProjectsContainer img {
  width: 70vw;
}

footer {
  margin-top: 10rem;
}

.headLinks {
  width: 83vw;
  height: 5.5vh;
  display: flex;
  margin: 0 auto;
}

.headContent .headLinks a {
  display: block;
  text-decoration: none;
  background-color: bisque;
  width: 12rem;
  margin: 0 auto;
  padding: 6px 8px;
  font-family: cursive;
  margin-top: 1rem;
  color: #000;
  font-weight: 600;
}

.headLinks a {
  background: linear-gradient(to right, rgb(100, 200, 200), rgb(100, 200, 200)), linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 180), rgb(0, 100, 200));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.headLinks a:hover {
  background-size: 0 3px, 100% 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.image-box {
  width: 50%;
  height: 100%;
}
.image-box .border-top {
  width: 50%;
  height: 15px;
  background-color: #FDBD03;
}
.image-box img {
  width: 100%;
  height: 80%;
  margin: 80px auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.content-box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.content-box .title-box {
  text-align: right;
}
.content-box .title-box h1 {
  margin-bottom: 40px;
  font: normal normal 900 66px/97px Heebo;
  color: #FDBD03;
}
.content-box .title-box p {
  margin-bottom: 20px;
  text-align: right;
  font: normal normal normal 20px/29px Heebo;
  color: #020253;
}
.content-box .form-box {
  width: 80%;
}
.content-box .form-box form {
  display: flex;
  flex-wrap: wrap;
}
.content-box .form-box form .filed-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.content-box .form-box form .filed-box input,
.content-box .form-box form .filed-box .textarea {
  text-align: right;
  width: 90%;
  border: none;
  height: 40px;
  background: #E5EEFF 0% 0% no-repeat padding-box;
  border-bottom: 4px solid #FDBD03;
}
.content-box .form-box form .filed-box .textarea {
  width: 190%;
  height: 170px;
}
.content-box .form-box form .filed-box input[type=submit] {
  text-align: center;
  width: 40%;
  margin-top: 20px;
  border: none;
  background-color: #FDBD03;
  font: normal normal bold 22px/30px Heebo;
}
.content-box .border-bottom {
  width: 50%;
  height: 15px;
  background-color: #FDBD03;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-icons {
  position: relative;
  bottom: 80px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #FDBD03 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.social-icons img {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.whatsapp {
  position: absolute;
  top: 50px;
  left: 50px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .image-box {
    width: 100vw;
    height: 30vh;
  }
  .image-box .border-top {
    width: 90%;
  }
  .image-box img {
    height: 70%;
    margin: 20px auto;
  }
  .whatsapp {
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
  }
  .content-box {
    flex-direction: column;
    width: 100vw;
    height: 70vh;
  }
  .content-box .form-box h1 {
    margin-bottom: 10px;
    font-size: 12vw;
  }
  .content-box .form-box .title-box {
    text-align: center;
  }
  .content-box .form-box .title-box p {
    margin-bottom: 0;
  }
  .content-box .form-box form {
    width: 100%;
    flex-direction: column;
  }
  .content-box .form-box form .filed-box {
    margin-top: 10px;
  }
  .content-box .form-box form .filed-box input {
    width: 190%;
  }
  .content-box .form-box form .filed-box input[type=submit] {
    width: 190%;
  }
  .content-box .form-box form .filed-box .textarea {
    height: 50px;
  }
  .content-box .border-bottom {
    width: 100%;
  }
  .content-box .border-bottom .social-icons {
    left: 0;
    bottom: 40px;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 370px) {
  .border-bottom .social-icons {
    width: 10px;
    height: 10px;
  }
  .image-box {
    height: 20vh;
  }
  .content-box .form-box h1 {
    margin: 0;
    font-size: 14vw;
  }
  .content-box .form-box p {
    margin: 0;
    font-size: 1em;
  }
}
.project-six-header {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.project-six-header img {
  width: 100vw;
  height: 60vh;
}

.project-six-header h1,
.project-six-header p {
  font-size: 24pt;
  padding-right: 5rem;
  color: rgb(255, 0, 0);
}

.project-six-header h1 {
  font: normal normal bold 86px/113px Assistant;
  letter-spacing: 0px;
  color: #D3E10E;
  opacity: 1;
  margin-top: -28rem;
}

.project-six-header p {
  text-align: center;
  font: normal normal normal 20px/26px Assistant;
  letter-spacing: 0px;
  color: #F9F9F9;
  opacity: 1;
}

.project-six-section {
  width: 70vw;
  height: 29vh;
  padding-bottom: 5rem;
  margin-top: 20rem;
  background-image: none;
  box-shadow: none;
}

.project-six-section form {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}

.project-six-section label {
  text-align: right;
  font: normal normal bold 16px/21px Assistant;
  letter-spacing: 0px;
  color: #011560;
  opacity: 1;
  margin-left: -2.2rem;
}

.project-six-section label[for=username] {
  margin-left: -3.5rem;
}

.project-six-section input {
  background: #F6F6F6 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 20vw;
  margin-top: 5.5rem;
  height: 50px;
  border-bottom: 3px solid #D3E10E;
}

.project-six-section input[type=submit] {
  text-align: center;
  font: normal normal bold 22px/30px Assistant;
  letter-spacing: 0.33px;
  color: #011560;
  opacity: 1;
  background: #D3E10E 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 5.5rem;
  border-radius: 0%;
  cursor: pointer;
  margin-left: 15rem;
  width: 10vw;
  padding-right: 3.7rem;
  border-bottom: none;
}

@media (max-width: 600px) {
  .project-six-header img {
    width: 100vw;
    height: 30vh;
  }
  .project-six-header h1,
  .project-six-header p {
    font-size: 15pt;
    text-align: center;
    margin-left: 4rem;
  }
  .project-six-header h1 {
    margin-top: -16rem;
    font-size: 21pt;
  }
  .project-six-section {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  .project-six-section form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-left: 3rem;
  }
  .project-six-section input {
    width: 70vw;
    margin-top: 0;
  }
  .project-six-section input[type=submit] {
    margin-top: 0.8rem;
    width: 70vw;
    padding-right: 6rem;
  }
}
@media (max-width: 400px) {
  .project-six-header h1 {
    margin-top: -15rem;
    font-size: 15pt;
    margin-left: 6rem;
  }
  .project-six-header p {
    font-size: 12pt;
    margin-top: -2rem;
    margin-left: 6rem;
  }
}
@media (max-width: 365px) {
  .project-six-header h1 {
    margin-top: -13rem;
    font-size: 14pt;
    margin-left: 6rem;
  }
  .project-six-header p {
    font-size: 10pt;
    margin-top: -2rem;
    margin-left: 6rem;
  }
}
@media (max-width: 350px) {
  .project-six-header h1 {
    margin-top: -15rem;
    font-size: 13.3pt;
    margin-left: 6rem;
  }
  .project-six-header p {
    font-size: 9pt;
    margin-top: -2rem;
    margin-left: 6rem;
  }
}/*# sourceMappingURL=main.css.map */